body {
    background: rgb(239, 215, 255);
    background: linear-gradient(90deg, rgba(239, 215, 255, 1) 0%, rgba(255, 118, 118, 1) 50%, rgba(239, 215, 255, 1) 100%);
}

h1{
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.contenedor{
	background-color: #efd7ff;
	display: inline-flex;
	position:relative;
    left: 480px;
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 18px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
