div{
    width: 200px;
    height: 200px; 
    background-color: pink;
}

div:hover {
    background-color: #F89B4D;
} 

/* :first-child y :last-child */
/* :nth-child() */

span{
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 10px
}

span::after{
    content: 'despues';
    background-color: whitesmoke;
} 

span::before{
    content: 'antes ';
    background-color: white;
}